name: Build and Push Docker Image

on:
  push:
    # branches:
    #   - main # Change this to your default branch
    tags:
      - 'v*' # Matches version tags like v1.0, v2.1.3, etc.

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    # Add PHP and Composer steps here
    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'

    - name: Install Composer and update lock file
      run: |
        cd project
        composer install
        composer update --lock

    # # (Optional) Commit updated composer.lock if you want to push it back to the repo
    # - name: Commit updated composer.lock
    #   run: |
    #     git config --global user.name "github-actions"
    #     git config --global user.email "github-actions@github.com"
    #     git add project/composer.lock
    #     git commit -m "Update composer.lock" || echo "No changes to commit"
    #     git push || echo "No changes to push"

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract version tag
      id: extract_version
      run: echo "::set-output name=tag::${GITHUB_REF#refs/tags/}"

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: |
          jorblad/farmos-k8s:latest
          jorblad/farmos-k8s:${{ steps.extract_version.outputs.tag }}
